@import "./preflight";
@import "./prism";
@import "../themes/slate/theme-style";

html {
  line-height: 1.7;
  font-size: 16px;
}

body {
  @apply .font-sans .text-text;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: auto;
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.docs-container {
  background: linear-gradient(90deg, #f7f7f7 60%, #fff 61%);
}

.document {
  background: #fff;
}

.document code[class*="language-"], .document pre[class*="language-"] {
  border-radius: 6px;
  @apply .font-mono;
}

.document pre.fancy {
  background: transparent;
  padding: 0;
  margin: 0;
}

body > header {
  z-index: 4;
}

.splash {
  background: linear-gradient(135deg, #A9C8C8 0%, #A8B3C2 100%);
  margin-top: config(height.header);
  padding: 100px 0;
  height: 510px;
}

.splash-title {
  color: #fff;
  font-family: sofia pro;
  font-weight: 400;
  font-size: 32px;
  padding: 11px 20px 6px 20px;
  background-color: rgba(0, 0, 0, 0.1);
  line-height: 29px;
  margin-bottom: 24px;
  border-radius: 3px;
  display: inline-block;
}

.document table.tableblock.api tr td {
  padding: 4px 10px;
  font-size: 0.9rem;
}

.document table.tableblock.api tr td:first-child {
  font-weight: 700;
  color: #606f7b;
}

@tailwind utilities;
